*{
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    margin:0;
}



header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center
}

a{
    color: #afff;
    margin: 30px
}

.contact{
    color: aliceblue;
    background: rgb(red, green, blue);
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
}

.contact:hover{
    background-color: blue;
    transform: scale(1.1)
}

   button{

    font-family: 'Playfair Display', serif;
    background-color: blueviolet;
    color:#afff;
    padding: 3px 20px;
    border-radius: 8px
    border: none;
   }
   main{
    background-image:linear-gradient(to top,rgba(0, 0, 0, 0.356),black),url(cartina.jpg);
    background-size: cover;
    min-height: 70vh;
    color: red;
    text-align: center
   }

   h1{
   margin: 0%;
   font-size: 70px
   }

   aside{
       display: flex;
       justify-content: space-around;
       padding: 50% 0;
   }

   div{
    border: #afff 2px solid;
    width: 30%;
    padding: 20px;
    text-align: center;
    background-color: rgb(27, 255, 38);
   }

   footer{
   background-color: blueviolet;
   color: #afff;
   padding: 30px;
   }


